/* Default */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body{
    background-color: #f6f8f9;
    font-family: sans-serif;
    font-size: 16px;
}
.text-white{
    color: #fff;
}
.white-bg{
    background-color: #fff;
}

/* Details */
.main-header{
    height: 100px;
}
.logo-img{
    height: 100px;
}
.logo-text{
    line-height: 100px;
    font-size: 4em;
    display: inline-block;
    vertical-align: top;
}
